/* #root {
    background-color: white;
   
} */

body,
html {
    background-color: white;
   
}
:root,
[data-theme] {
    background-color: none;
    color: white;
}

.img-equal {
    width: 100%;
    height: 200px;
    object-fit: cover;

}
.inverted-image{
    /* filter: brightness(0); */
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(168deg) brightness(300%) contrast(200%);
}
.inverted-image:hover {
    filter: invert(0%) sepia(0%) saturate(100%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

.inverted {
    filter: brightness(0);
    transition: filter 0.5s ease;
 
}

.inverted:hover {
    filter: none;

}

.inverted-blue {
     filter: invert(53%) sepia(51%) saturate(2819%) hue-rotate(158deg) brightness(90%) contrast(101%);
}

.logo-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-image {
    max-width: 100%;
    height: auto;
    /* Optional styles for logo images */
}